<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#2a7ee4">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="IE104.O12_Nhom2">
	<meta name="description" content="TECHTWO luôn hướng đến là người bạn đồng hành cùng mọi gia đình Việt Nam.">

	<link rel="shortcut icon" type="image/x-icon" href="/imgs/ico-logo-blue.png">
	<link rel="stylesheet" href="/styles/pages/site/about-us.css">

	<title> Về nhóm của em</title>
</head>

<body>
	<%- include('../../partials/header', { header: header, user: user }) %>
	<%- include('../../partials/breadcrumb', { breadcrumbs : [{ text : 'Về nhóm của em', link : 'epu.edu.vn' }] }) %>

	<main class="about-container">
		<div class="about-us__content">
			<div class="about-us__title">
				<p>ABOUT US</p>
			</div>
			<div class="about-us__slogan">
				<h1>WHO WE ARE</h1>
				<h1>Đồ án môn học. To The World!</h1>
			</div>
			<p class="about-us__intro">
				<span class="highlight">Đây</span> là dự án xây dựng website cửa
				hàng điện máy do sinh viên Chu Tuấn Mạnh thuộc trường Đại học Điện Lực thực hiện trong khuôn khổ môn học Ngôn ngữ kịch bản dưới sự hướng dẫn của thầy Lê CườngCường.
			</p>
		</div>
		<img class="about-us__img" src="/imgs/about-us-3.png" alt="banner">
		<div class="about-us__content--colunm">
			<div class="about-us__content--left">
				<h2>TẦM NHÌN</h2>
			</div>
			<div class="about-us__content--right">
				
			</div>
		</div>
		<img class="about-us__img" src="/imgs/about-us-2.png" alt="banner">
		<div class="about-us__content--colunm">
			<h2 class="about-us__content--disable">CAM KẾT</h2>
			<div class="about-us__content--left">
				<p>
					
				</p>
			</div>

			<div class="about-us__content--right">
				<h2>CAM KẾT</h2>
			</div>
		</div>
		<img class="about-us__img" src="/imgs/about-us-1.png" alt="banner">
	</main>

	<%- include('../../components/scrollup') %>
	<%- include('../../partials/footer') %>
	<%- include('../../partials/app-bar') %>

	<script src="/scripts/components/scrollup.js"></script>
	<script src="/scripts/partials/header.js"></script>
</body>

</html>